@import url('paleta-colores.css');
@import url('navbar/styles-navbar.css');
@import url('navbar/styles-modal-contacto.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    background-color: var(--background-primary-color);
}

.hero-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5%;
    padding: 5%;
}

.hero-text {
    max-width: 50%;
}

.hero-text h1,
.hero-text p,
.hero-text button,
.hero-text .p-resultados,
.hero-text .p-aprobado {
    margin-bottom: 15px;
}

.hero-image {
    max-width: 45%;
    border-radius: 20px;
    border: 1px solid var(--primary-text-color);
    transition: transform 0.3s;
    box-shadow: 3.3px 6.6px 6.6px hsl(0deg 0% 0% / 0.4);
    /* URL para las sombras: //www.joshwcomeau.com/css/designing-shadows */
}

.hero-image:hover {
    transform: scale(1.05);
}

.texto-principal {
    font-family: 'Playfair Display', serif;
    color: var(--primary-text-color);
    font-size: 3.5rem;
    font-weight: 700;
}

.texto-secundario {
    font-size: 1.2rem;
    color: var(--secondary-text-color);
    line-height: 1.6;
}

.div-secundario {
    display: flex;
    gap: 2rem;
    margin-top: 1rem;
}

.btn-comprar,
.btn-servicios {
    font-weight: 600;
    padding: 12px 24px;
    border-radius: 20px;
    cursor: pointer;
    transition: transform 0.3s;
    box-shadow: 3.1px 6.2px 6.2px hsl(0deg 0% 0% / 0.40);
}

.btn-comprar {
    background-color: var(--primary-text-color);
    color: var(--background-primary-color);
    border: none;
}

.btn-comprar:hover,
.btn-servicios:hover {
    transform: scale(1.15);
}

.btn-servicios {
    background: transparent;
    color: var(--primary-text-color);
    border: 2px solid var(--primary-text-color);
}

.div-botones {
    display: flex;
    gap: 3rem;
    margin-top: 1rem;
}

.div-preguntas {
    margin-top: 1rem;
    margin-left: 1rem;
    padding: 5px;
}

.div-preguntas h4 {
    margin-bottom: 0.5rem;
    color: var(--secondary-text-color);
}

.ul-preguntas {
    list-style-type: disc;
    padding-left: 20px;
    color: var(--secondary-text-color);
    line-height: 1.8;
    font-size: 0.85rem;
}