:root {
    --background-primary-color:#F6D9E5;
    --primary-text-color: #1D1E3B;
    --secondary-text-color: #9E9E9E;
    --button-light-color: #FFF0F5;
    --button-dark-color: #1D1E3B;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    background-color: var(--background-primary-color);
}

.header {
    position: fixed;
    top: 0;
    left: -100;
    width: 100%;
    padding: 20px 100px;
    background: rgba(255, 255, 255, .1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(10px);
    border-bottom: 2px solid rgba(255, 255, 255, .2);
}

.logo {
    color: #fff;
    font-size: 25px;
    text-decoration: none;
    font-weight: 600px;
    cursor: default;
}

.navbar a {
    color: var(--primary-text-color);
    font-size: 18px;
    text-decoration: none;
    margin-left: 35px;
    transition: .3s;
}

.navbar a:hover {
    color: var(--secondary-text-color);
}