@import url(paleta-colores.css);
@import url(navbar/styles-navbar.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    background-color: var(--background-primary-color);
}

.hero-image {
    width: 800px;
    height: 700px;
}

.hero-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 50px;
}

.hero-text {
    max-width: 50%;
}

.hero-text h1,
.hero-text p,
.hero-text button,
.hero-text .p-resultados,
.hero-text .p-aprobado {
    margin-bottom: 15px;
}

.hero-image {
    max-width: 45%;
    border-radius: 20px;
    transition: transform 0.3s;
}

.hero-image:hover {
    transform: scale(1.05);
}

.texto-principal {
    color: var(--primary-text-color);
}