@import url('navbar/styles-navbar.css');
@import url('paleta-colores.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #FBE9F0;
}

.servicio {
    display: flex;
}

.servicio-image {
    display: flex;
    justify-content: center;
    width: 40rem;
    height: 30rem;
    margin-left: 20rem;
    margin-top: 3rem;
}

.servicio-image img {
    width: 100%;
    height: 100%;
}

.servicio-content {
    display: flex;
    flex-direction: column;
    padding: 15px;
    width: 25rem;
    margin-left: 5rem;
    margin-top: 3rem;
}

.servicio-content h2 {
    color: var(--primary-text-color);
    font-weight: 700;
    margin-bottom: 12px;
    font-size: 1.8rem;
}

.servicio-content h3 {
    color: var(--primary-text-color);
    font-weight: 700;
    margin-top: 12px;
}

.servicio-content ul {
    list-style-type: none;
}

.servicio-content li::marker {
    content: "✔";
    color: #6D28D9;
    font-size: 1rem;
}

.btn-reserva {
    background: #6D28D9;
    color: white;
    border: none;
    padding: 12px 24px;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.2s;
    margin-top: 1rem;
}

.btn-reserva:hover {
    background: #511aa3;
}