.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    background: #F8F9FA;
}

.logo {
    height: 30px;
    width: auto;
    border-radius: 10px;
    box-shadow: 3.1px 6.2px 6.2px hsl(0deg 0% 0% / 0.40);
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nombre-logo {
    font-size: 1.5rem;
    color: #2D2A4A;
    font-weight: 700;
}

.navbar {
    display: flex;
    gap: 50px;
}

.navbar a {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: #2D2A4A;
    font-weight: 500;
    transition: .3s;
}

.navbar a:hover {
    color: #C8B6FF;
    transform: scale(1.1);
}

.icon-carrito i {
    font-size: 20px;
    transition: .3s;
    color: #2D2A4A;
}

.icon-carrito:hover i {
    color: #C8B6FF;
    transform: scale(1.1);
}